@charset "utf-8";
#alertBox {
	background-image: url(alert_logo_steel.jpg);
	background-position: 25px 0px;
	background-repeat: no-repeat;
	background-color: #597286;
	height: 60px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
    overflow: hidden;
}
#alertBoxText {
	width: 810px;
	float: left;
}
#clearer {
	clear: both;
}

#alertBox h1 {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 22px;
	display: block;
	margin: 0px;
	width: 340px;
	text-align: right;
	float: left;
	height: 60px;
}
#alertBox p {
	display: block;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	padding: 5px 0 5px 350px;
}
#alertBox img {
    border: none;
}
#alertBoxText a {
	color: #FFFF66;

}
