#uwalert-alertBox {
	background-position: 25px 0px;
	background-repeat: no-repeat;
	height: 60px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
    overflow: hidden;
}
.uwalert-red {
	background-image: url('alert_logo_red.jpg');
	background-color: #C61029;
}
.uwalert-steel {
	background-image: url('alert_logo_steel.jpg');
	background-color: #597286;
}
.uwalert-blue {
	background-image: url('alert_logo_blue.jpg');
	background-color: #0193c9;
}
.uwalert-orange {
	background-image: url('alert_logo_orange.jpg');
	background-color: #ec7330;
}
#uwalert-alertBoxText {
	width: 810px;
	float: left;
}
#uwalert-alertBoxText a {
	color: #FFFF66;
}
#uwalert-clearer {
	clear: both;
}
#uwalert-alertBox h1 {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 22px;
	display: block;
	margin: 0px;
	width: 340px;
	text-align: right;
	float: left;
	height: 60px;
}
#uwalert-alertBox p {
	display: block;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	padding: 5px 0 5px 350px;
}
#uwalert-alertBox img {
	border: none;
}
.uw-alert #thin-strip { 
	top: 60px; 
} 

@media (max-width: 768px) {  
	body.mobile.uw-alert {
		background-position: 0 100px;
	}
	#uwalert-alertBox.uwalert-orange {
		background-position: -150px 0;
	}
	#uwalert-alertBox.uwalert-orange h1 {
		border: none;
		display: block;
		height: auto;
		margin: 0;
		padding: 0;
		width: 100%;
		text-align: left;
	} 
	#uwalert-alertBox p {
		padding: 0;
	}
	#uwalert-alertBox {
		height: 100px
	}
	#uwalert-alertBox h1 {
		display: none;
	}
	#uwalert-alertBoxText {
		width: auto;
		padding: 5px 10px 0 10px;
	}
}